<!-- Start of About section
	============================================= -->
<section id="ft-about-3" class="ft-about-section-3">
	<div class="container">
		<div class="ft-about-content-3">
			<div class="row">
				<div class="col-lg-6 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="ft-about-img-wrapper-3 position-relative">
						<div class="ft-about-img-3">
							<img src="~/ege roro/assets/img/about/ab2.png" alt="">
						</div>
 					</div>
				</div>
				<div class="col-lg-6">
					<div class="ft-about-text-3">
						<div class="ft-section-title-3 headline wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
							<span class="text-uppercase">We specialise in the transportation</span>
							<h2>
								We are proud of our
								workforce and have
								worked hard.
							</h2>
						</div>
						<div class="ft-about-sub-text wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
							This in turn has created a culture we have become respected for, and one that our clients regularly commend us for, feeding back what a pleasure it is to work with both our service staff and the crew members.
						</div>
						<div class="ft-about-feature-3 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
							<div class="row">
								<div class="col-md-6">
									<div class="ft-about-feature-text">
										We are very proud of our workforce and have worked hard to create a business that attracts those people who want to appreciate the importance.
									</div>
								</div>
								<div class="col-md-6">
									<div class="ft-about-feature-text">
										This in turn has created a culture we have become respected for, and one that our clients regularly commend us for feeding back crew members.
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End of About section
	============================================= -->
