@using Entity.Concrete
@model List<Fleet>

<section id="ft-service-page" class="ft-service-page-section page-padding">
	<div class="container">

		<div class="ft-service-page-items">
			<div class="row">
				@foreach (var item in Model)
				{
					<div class="col-lg-4 col-md-6">
						<div class="ft-service-innerbox-2 position-relative">
							<div class="ft-service-img text-center">
								<a href="ege-gaz-1.html">
									<img src="assets/img/service/ege-gaz-1.jpg" alt="">
								</a>
							</div>
							<div class="ft-service-text position-relative headline">
								<h3><a href="#">Ege Gaz-1</a></h3>
								<div class="ft-btn-2">
									<a href="ege-gaz-1.html">
										<i class="icon-first flaticon-right-arrow"></i>
										<span>Detay</span>
									</a>
								</div>
							</div>
							<div class="ft-service-serial position-absolute">
								1
							</div>
						</div>
					</div>
				}






				<div class="col-lg-4 col-md-6">
					<div class="ft-service-innerbox-2 position-relative">
						<div class="ft-service-img text-center">
							<a href="ege-gaz-3.html">
								<img src="assets/img/service/ege-gaz-3.jpg" alt="">
							</a>
						</div>
						<div class="ft-service-text position-relative headline">
							<h3><a href="#">Ege Gaz-3</a></h3>
							<div class="ft-btn-2">
								<a href="ege-gaz-3.html">
									<i class="icon-first flaticon-right-arrow"></i>
									<span>Detay</span>
								</a>
							</div>
						</div>
						<div class="ft-service-serial position-absolute">
							2
						</div>
					</div>
				</div>


				<div class="col-lg-4 col-md-6">
					<div class="ft-service-innerbox-2 position-relative">
						<div class="ft-service-img text-center">
							<a href="yener-ciner.html">
								<img src="assets/img/service/yener-ciner.jpg" alt="">
							</a>
						</div>
						<div class="ft-service-text position-relative headline">
							<h3><a href="#">Yener Ciner</a></h3>
							<div class="ft-btn-2">
								<a href="yener-ciner.html">
									<i class="icon-first flaticon-right-arrow"></i>
									<span>Detay</span>
								</a>
							</div>
						</div>
						<div class="ft-service-serial position-absolute">
							3
						</div>
					</div>
				</div>




			</div>



		</div>
	</div>
</section>
