<!DOCTYPE html>
<html lang="tr">
@await Html.PartialAsync("/Views/PartialView/_headPartial.cshtml")

<body>
	<div id="preloader"></div>
	<div class="up">
		<a href="#" class="scrollup text-center"><i class="fas fa-chevron-up"></i></a>
	</div>

	@await Html.PartialAsync("/Views/PartialView/_headerPartial.cshtml")
	@RenderBody()
	@await Html.PartialAsync("/Views/PartialView/_footerPartial.cshtml")
	@await Html.PartialAsync("/Views/PartialView/_scriptPartial.cshtml")

</body>
</html>			