@{
	ViewData["Title"] = "Home Page";
}


<section class="ft1-main-slider">
	<span class="left-pattern-layer"></span>
	<span class="right-pattern-layer"></span>
	<div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper" data-source="gallery">
		<div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
			<ul>

				<li data-transition="Slide Overlay To Top" data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="4" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-100" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="assets/images/main-slider/image-1.jpg" data-title="Slide Title">

					<video preload="auto" loop autoplay muted data-nextslideatend="true">
						<source src='~/ege roro/assets/img/video/1.mp4' type='video/mp4' />

					</video>


					<div class="color-layer"></div>
					<div class="tp-caption" ""
						 data-paddingbottom="[0,0,0,0]"
						 data-paddingleft="[0,0,0,0]"
						 data-paddingright="[0,0,0,0]"
						 data-paddingtop="[0,0,0,0]"
						 data-responsive_offset="on"
						 data-type="text"
						 data-height="none"
						 data-width="['1100','800','800','500']"
						 data-whitespace="normal"
						 data-hoffset="['15','15','15','15']"
						 data-voffset="['-50','-50','-150','-150']"
						 data-x="['left','left','left','left']"
						 data-y="['middle','middle','middle','middle']"
						 data-textalign="['top','top','top','top']"
						 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
						 style="">
						<h1><span>Fenerbahçe</span> <br> Transportation <br> <span>of Your <span class="theme_color">Cargo</span></span></h1>
					</div>

					<div class="tp-caption"
						 data-paddingbottom="[0,0,0,0]"
						 data-paddingleft="[0,0,0,0]"
						 data-paddingright="[0,0,0,0]"
						 data-paddingtop="[0,0,0,0]"
						 data-responsive_offset="on"
						 data-type="text"
						 data-height="none"
						 data-width="['610','800','650','550']"
						 data-whitespace="normal"
						 data-hoffset="['15','15','15','15']"
						 data-voffset="['140','130','20','-5']"
						 data-x="['left','left','left','left']"
						 data-y="['middle','middle','middle','middle']"
						 data-textalign="['top','top','top','top']"
						 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
						 style="">
						<div class="text">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</div>
					</div>

					<div class="tp-caption"
						 data-paddingbottom="[0,0,0,0]"
						 data-paddingleft="[0,0,0,0]"
						 data-paddingright="[0,0,0,0]"
						 data-paddingtop="[0,0,0,0]"
						 data-responsive_offset="on"
						 data-type="text"
						 data-height="none"
						 data-width="['700','700','700','500']"
						 data-whitespace="normal"
						 data-hoffset="['15','15','15','15']"
						 data-voffset="['240','240','150','140']"
						 data-x="['left','left','left','left']"
						 data-y="['middle','middle','middle','middle']"
						 data-textalign="['top','top','top','top']"
						 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
						 style="">
						<a href="#" class="theme-btn btn-style-one">Explore More <span class="icon fas fa-angle-double-right"></span></a>
					</div>

				</li>

				<li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-101" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="assets/images/main-slider/image-1.jpg" data-title="Slide Title" data-transition="parallaxvertical">
					<video preload="auto" loop autoplay muted data-nextslideatend="true">
						<source src='~/ege roro/assets/img/video/2.mp4' type='video/mp4' />

					</video>

					<div class="color-layer"></div>
					<div class="tp-caption"
						 data-paddingbottom="[0,0,0,0]"
						 data-paddingleft="[0,0,0,0]"
						 data-paddingright="[0,0,0,0]"
						 data-paddingtop="[0,0,0,0]"
						 data-responsive_offset="on"
						 data-type="text"
						 data-height="none"
						 data-width="['1100','800','800','500']"
						 data-whitespace="normal"
						 data-hoffset="['15','15','15','15']"
						 data-voffset="['-50','0','20','20']"
						 data-x="['left','left','left','left']"
						 data-y="['middle','middle','middle','middle']"
						 data-textalign="['top','top','top','top']"
						 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
						 style="">
						<h1><span>Fenerbahçe</span> <br> Transportation <br> <span>of Your <span class="theme_color">Cargo</span></span></h1>
					</div>

					<div class="tp-caption"
						 data-paddingbottom="[0,0,0,0]"
						 data-paddingleft="[0,0,0,0]"
						 data-paddingright="[0,0,0,0]"
						 data-paddingtop="[0,0,0,0]"
						 data-responsive_offset="on"
						 data-type="text"
						 data-height="none"
						 data-width="['610','800','800','550']"
						 data-whitespace="normal"
						 data-hoffset="['15','15','15','15']"
						 data-voffset="['140','130','150','130']"
						 data-x="['left','left','left','left']"
						 data-y="['middle','middle','middle','middle']"
						 data-textalign="['top','top','top','top']"
						 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
						 style="">
						<div class="text">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</div>
					</div>

					<div class="tp-caption"
						 data-paddingbottom="[0,0,0,0]"
						 data-paddingleft="[0,0,0,0]"
						 data-paddingright="[0,0,0,0]"
						 data-paddingtop="[0,0,0,0]"
						 data-responsive_offset="on"
						 data-type="text"
						 data-height="none"
						 data-width="['700','700','700','500']"
						 data-whitespace="normal"
						 data-hoffset="['15','15','15','15']"
						 data-voffset="['240','240','270','250']"
						 data-x="['left','left','left','left']"
						 data-y="['middle','middle','middle','middle']"
						 data-textalign="['top','top','top','top']"
						 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
						 style="">
						<a href="#" class="theme-btn btn-style-one">Explore More <span class="icon fas fa-angle-double-right"></span></a>
					</div>
				</li>


				<li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-102" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="assets/images/main-slider/image-1.jpg" data-title="Slide Title" data-transition="parallaxvertical">
					<video preload="auto" loop autoplay muted data-nextslideatend="true">
						<source src='~/ege roro/assets/img/video/3.mp4' type='video/mp4' />

					</video>

					<div class="color-layer"></div>
					<div class="tp-caption"
						 data-paddingbottom="[0,0,0,0]"
						 data-paddingleft="[0,0,0,0]"
						 data-paddingright="[0,0,0,0]"
						 data-paddingtop="[0,0,0,0]"
						 data-responsive_offset="on"
						 data-type="text"
						 data-height="none"
						 data-width="['1100','800','800','500']"
						 data-whitespace="normal"
						 data-hoffset="['15','15','15','15']"
						 data-voffset="['-50','0','20','20']"
						 data-x="['left','left','left','left']"
						 data-y="['middle','middle','middle','middle']"
						 data-textalign="['top','top','top','top']"
						 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
						 style="">
						<h1><span>Fenerbahçe</span> <br> Transportation <br> <span>of Your <span class="theme_color">Cargo</span></span></h1>
					</div>

					<div class="tp-caption"
						 data-paddingbottom="[0,0,0,0]"
						 data-paddingleft="[0,0,0,0]"
						 data-paddingright="[0,0,0,0]"
						 data-paddingtop="[0,0,0,0]"
						 data-responsive_offset="on"
						 data-type="text"
						 data-height="none"
						 data-width="['610','800','800','550']"
						 data-whitespace="normal"
						 data-hoffset="['15','15','15','15']"
						 data-voffset="['140','130','150','130']"
						 data-x="['left','left','left','left']"
						 data-y="['middle','middle','middle','middle']"
						 data-textalign="['top','top','top','top']"
						 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
						 style="">
						<div class="text">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</div>
					</div>

					<div class="tp-caption"
						 data-paddingbottom="[0,0,0,0]"
						 data-paddingleft="[0,0,0,0]"
						 data-paddingright="[0,0,0,0]"
						 data-paddingtop="[0,0,0,0]"
						 data-responsive_offset="on"
						 data-type="text"
						 data-height="none"
						 data-width="['700','700','700','500']"
						 data-whitespace="normal"
						 data-hoffset="['15','15','15','15']"
						 data-voffset="['240','240','270','250']"
						 data-x="['left','left','left','left']"
						 data-y="['middle','middle','middle','middle']"
						 data-textalign="['top','top','top','top']"
						 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
						 style="">
						<a href="#" class="theme-btn btn-style-one">Explore More <span class="icon fas fa-angle-double-right"></span></a>
					</div>
				</li>



				<li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-103" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="assets/images/main-slider/image-1.jpg" data-title="Slide Title" data-transition="parallaxvertical">
					<video preload="auto" loop autoplay muted data-nextslideatend="true">
						<source src='~/ege roro/assets/img/video/3.mp4' type='video/mp4' />

					</video>

					<div class="color-layer"></div>
					<div class="tp-caption"
						 data-paddingbottom="[0,0,0,0]"
						 data-paddingleft="[0,0,0,0]"
						 data-paddingright="[0,0,0,0]"
						 data-paddingtop="[0,0,0,0]"
						 data-responsive_offset="on"
						 data-type="text"
						 data-height="none"
						 data-width="['1100','800','800','500']"
						 data-whitespace="normal"
						 data-hoffset="['15','15','15','15']"
						 data-voffset="['-50','0','20','20']"
						 data-x="['left','left','left','left']"
						 data-y="['middle','middle','middle','middle']"
						 data-textalign="['top','top','top','top']"
						 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
						 style="">
						<h1><span>Fast & Secure</span> <br> Transportation <br> <span>of Your <span class="theme_color">Cargo</span></span></h1>
					</div>

					<div class="tp-caption"
						 data-paddingbottom="[0,0,0,0]"
						 data-paddingleft="[0,0,0,0]"
						 data-paddingright="[0,0,0,0]"
						 data-paddingtop="[0,0,0,0]"
						 data-responsive_offset="on"
						 data-type="text"
						 data-height="none"
						 data-width="['610','800','800','550']"
						 data-whitespace="normal"
						 data-hoffset="['15','15','15','15']"
						 data-voffset="['140','130','150','130']"
						 data-x="['left','left','left','left']"
						 data-y="['middle','middle','middle','middle']"
						 data-textalign="['top','top','top','top']"
						 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
						 style="">
						<div class="text">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</div>
					</div>

					<div class="tp-caption"
						 data-paddingbottom="[0,0,0,0]"
						 data-paddingleft="[0,0,0,0]"
						 data-paddingright="[0,0,0,0]"
						 data-paddingtop="[0,0,0,0]"
						 data-responsive_offset="on"
						 data-type="text"
						 data-height="none"
						 data-width="['700','700','700','500']"
						 data-whitespace="normal"
						 data-hoffset="['15','15','15','15']"
						 data-voffset="['240','240','270','250']"
						 data-x="['left','left','left','left']"
						 data-y="['middle','middle','middle','middle']"
						 data-textalign="['top','top','top','top']"
						 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
						 style="">
						<a href="#" class="theme-btn btn-style-one">Explore More <span class="icon fas fa-angle-double-right"></span></a>
					</div>
				</li>

			</ul>
		</div>
	</div>	 
 </section>

@await Component.InvokeAsync("_AboutUs")

