<head>
	<!-- Required Meta Tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<meta name="description" content="#">
	<meta name="keywords" content="#">
	<link rel="shortcut icon" href="~/ege roro/assets/img/logo/ficon.png" type="image/x-icon">

	<!-- Page Title -->
	<title>Ege Ro-Ro</title>

	<link rel="stylesheet" href="~/ege roro/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/ege roro/assets/css/fontawesome-all.css">
	<link rel="stylesheet" href="~/ege roro/assets/css/flaticon.css">
	<link rel="stylesheet" href="~/ege roro/assets/css/jquery-ui.css">
	<link rel="stylesheet" href="~/ege roro/assets/css/animate.css">
	<link rel="stylesheet" href="~/ege roro/assets/css/nice-select.css">
	<link rel="stylesheet" href="~/ege roro/assets/css/video.min.css">
	<link rel="stylesheet" href="~/ege roro/assets/css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="~/ege roro/assets/css/slick.css">
	<link rel="stylesheet" href="~/ege roro/assets/css/rs6.css">
	<link rel="stylesheet" href="~/ege roro/assets/css/slick-theme.css">
	<link rel="stylesheet" href="~/ege roro/assets/css/style.css">
 
	<link href="~/ege roro/assets/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css"><!-- REVOLUTION SETTINGS STYLES -->
	<link href="~/ege roro/assets/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css"><!-- REVOLUTION LAYERS STYLES -->
	<link href="~/ege roro/assets/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css"><!-- REVOLUTION NAVIGATION STYLES -->
</head>