@using Entity.Concrete
@model List<Service>
 
<section id="ft-service-3" class="ft-service-section-3" style="padding-top: 60px;">
	<div class="container">
		<div class="ft-section-title-3 headline text-center wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
			<h2>Hizmetlerimiz</h2>
		</div>
		<div class="ft-service-content-3">
			<div class="ft-service-content-items-3">
				<div class="row justify-content-center">
					@foreach (var item in Model)
					{
						<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="ft-service-innerbox-3 position-relative">
								<div class="ft-service-img position-relative">
									<img src="@Url.Content(item.HizmetFoto)" alt="Hizmet Fotoğrafı">
								</div>
								<div class="ft-service-text-icon position-relative">
									<div class="ft-service-icon d-flex align-items-center justify-content-center position-absolute">
										<i class="@item.HizmetIcon"></i>
									</div>
									<div class="ft-service-text position-relative headline pera-content">
										<h3>
											<a href="tehlikeli-madde-roro-hizmetleri.html">
												@item.HizmetAdi
											</a>
										</h3>
										<p>
											@item.HizmetDetay;
										</p>
									</div>
								</div>
								<div class="more-btn position-absolute">
									<a class="d-flex align-items-center justify-content-center" href="tehlikeli-madde-roro-hizmetleri.html">Detay <i class="far fa-arrow-right"></i></a>
								</div>
							</div>
						</div>

					}

				</div>
			</div>

		</div>
	</div>
</section>
