@using Entity.Concrete
@model List<Gallery>

<!-- Start of Breadcrumb section
============================================= -->
<section id="ft-breadcrumb" class="ft-breadcrumb-section position-relative" style="background-image: url('/ege roro/assets/img/bg/bread-bg.jpg');">
	<span class="background_overlay"></span>
	<span class="design-shape position-absolute"><img src="~/ege roro/assets/img/shape/tmd-sh.png" alt=""></span>
	<div class="container">
		<div class="ft-breadcrumb-content headline text-center position-relative">
			<h2>Hakkımızda</h2>
			<div class="ft-breadcrumb-list ul-li">
				<ul>
					<li><a href="/Service">Hakkımızda</a></li>
					<li>Hakkımızda</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- End of Breadcrumb section
	============================================= -->
<!-- Start of Team  page section
	============================================= -->
<section id="ft-team-page" class="ft-team-page-section page-padding">
	<div class="container">
		<div class="ft-team-content">
			<div class="row">

				@foreach (var item in Model)
				{
					<div class="col-lg-4 col-md-6">
						<div class="ft-team-inner-itembox position-relative">
							<div class="ft-team-inner-item-img">
								<a href="#" class="lightbox-link">
									<img src="@Url.Content(item.galeriFoto)" alt="hizmet Fotoğrafı">
								</a>
							</div>

						</div>
					</div>
				}

			</div>

		</div>
	</div>
</section>
<!-- End of Team  page section
	============================================= -->
	~/ege roro/assets/img/team/tm3.jpg